<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Digital Movies</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    <link rel="shortcut icon" type="image/x-ico" href="{{url_for('static', filename = 'images/favicon.png')}}"/>
    
</head>
<body>
    <header>
        <!-- <video src="video/jurasic world.webm" autoplay muted></video> -->
        <nav>
            <!-- navbar -->
            <div class="logo_ul">
                <img src="{{url_for('static', filename = 'images/logo.png')}}" alt="">
                <ul>
                    <li>
                        <a href="{{ url_for('page.index') }}">Home</a>
                    </li>
                    {% if cookie %}
                    <li>
                        <a href="{{ url_for('page.add_movie') }}" id="add_movie">Add Movie</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="#" id="movies">Movies</a>
                    </li>
                </ul>
            </div>
            <!-- barre de recherche -->
            <div class="search_user">
                {% block search_bar %}{% endblock %}

                {% if cookie %}
                    <!-- Utilisateur connecté -->
                    <a href="{{ url_for('page.show_profile') }}">
                    <img src="{{url_for('static', filename = 'images/user.png')}}" alt=""></a>
                    <a href="/logout"><i class="bi bi-box-arrow-right"></i> </a>
                {% else %}
                    <!-- Utilisateur non connecté -->
                    <a href="{{ url_for('page.register') }}">Inscription</a>
                    <a href="{{ url_for('page.login') }}">Connexion</a>
                {% endif %}

                {% block search %}
                <div class="search">
                    
                </div>
                {% endblock %}
            </div>
        </nav>
        <div class="block">
            {% block content %}{% endblock %}
            
        </div>
       
</header> 


<script src= "{{url_for('static', filename = 'js/app.js')}}"></script></head>
</body>
</html>