@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

* {
    ::-webkit-scrollbar {
        display: none;
    }
}

body {
    width: 100%;
    height: 100vh;
    /* background: rgb(45, 45, 45); */
    background: url('/static/images/Cover.svg') no-repeat center center/cover;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: url('/static/images/Cover.svg') no-repeat center center/cover; */
    opacity: .9;
    z-index: -1;
}

header::after {
    content: '';
    position: absolute;
    width: 100%;
    /* height: 100%; */
    background: linear-gradient(180deg, transparent, #000);
    z-index: -1;
}

/* video de fond */
header video {
    position: absolute;
    top: -47%;
    /* left: 0; */
    width: 120%;
    height: 190%;
    object-fit: cover;
    z-index: -1;
}


/* navbar */
nav {

    position: fixed;
    width: 100%;
    height: 10%;
    /* border: 1px solid #fff; */
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    z-index: 999999;
    backdrop-filter: blur(10px);

}


nav .logo_ul {
    display: flex;
    align-items: center;
    justify-content: center;

}

nav .logo_ul img {
    width: 160px;
    margin-top: 10px;

}

nav .search_user a {
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 600;
    /* background: #7B6EF6; */
    border-radius: 5px;
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    /* animation: button 3s linear infinite; */
}

nav .logo_ul ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

nav .logo_ul ul li {
    padding: 3px 15px;
}

nav .logo_ul ul a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    transition: .3s linear;
}

nav .logo_ul ul a:hover {
    color: rgb(255, 255, 255, .7);
}

/* barre de recherche */
nav .search_user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

nav .search_user input {
    padding-top: 10px;
    padding-right: 90px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: rgb(255, 255, 255, .3);
    color: #fff;
}

nav .search_user input::placeholder {
    color: #fff;
}

nav .search_user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

nav .search_user .search {
    position: absolute;
    width: 350px;
    height: 270px;
    /* border: 1px solid #fff; */
    right: 250px;
    top: 54px;
    z-index: 99999;
    overflow-y: auto;
}

nav .search_user .search::-webkit-scrollbar {
    width: 5px;
    background: rgb(255, 255, 255, .3);
    border-radius: 5px;
    visibility: hidden;
}

nav .search_user .search::-webkit-scrollbar-thumb {
    width: 50px;
    background: rgb(255, 255, 255, .4);
    border-radius: 5px;
    visibility: hidden;
}

nav .search_user .search:hover::-webkit-scrollbar {

    visibility: visible;
}

nav .search_user .search:hover::-webkit-scrollbar-thumb {

    visibility: visible;
}

nav .search_user .search .card {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 3px 0px;
    text-decoration: none;
    display: none;

}

nav .search_user .search .card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255, .1);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    z-index: -1;
}

nav .search_user .search .card img {
    width: 28px;
    height: 90%;
    border-radius: 2px;
    margin-left: 8px;
}

nav .search_user .search .card .cont {
    margin-left: 10px;
    color: #fff;
}

nav .search_user .search .card .cont h3 {
    font-size: 15px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}

nav .search_user .search .card .cont p {
    font-size: 10px;
    color: rgb(255, 255, 255, .8);
}

nav .search_user .search .card .cont span {
    background: yellow;
    color: #000;
    padding: 0px 3px;
    margin: 0px 5px 0px 10px;
    font-weight: 500;
}

/* contenu de la page */
.content {
    position: relative;
    color: #fff;
    margin-top: 50px;
    padding-left: 50px;
}

.content h1 {
    font-size: 50px;
}

.content p {
    font-size: 18px;
    width: 350px;
    word-break: break-all;
}

.content .details {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.content .details h6 {
    color: rgb(255, 255, 255, .8);
    font-size: 12px;
    margin-right: 10px;
}

.content .details h5 {
    color: rgb(142, 230, 48);
    font-size: 12px;
    margin-right: 10px;
}

.content .details h4 {
    color: #fff;
    font-size: 12px;
    margin-right: 10px;
}


.content .details h3 {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.content .details h3 span {
    background: yellow;
    color: #000;
    padding: 0px 3px;
    margin: 0px 5px 0px 5px;
    font-weight: 500;
}

.content .details h3 i {
    margin-right: 5px;
}

.content .btns {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.btns:hover {
    text-decoration: underline;
    text-decoration-color: #9289f6;
    text-decoration-thickness: 4px;
}
.mylink,
.content .btns a {
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 600;
    background: #7B6EF6;
    border-radius: 5px;
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    margin-right: 10px;
}

.mylink2 {
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 600;
    background: #ff9b3d;
    border-radius: 5px;
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    margin-right: 10px;
}

.mylink3 {
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 600;
    background: #ff2a2a;
    border-radius: 5px;
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
}




section {
    top: 2vw;
    position: relative;
    width: 100%;
    height: auto;
    padding: 0px 50px;
    bottom: 20px;
    color: #fff;
}

/* liste des films */

section .cards {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}

section .cards::-webkit-scrollbar {
    display: none;

}

section .cards .card {
    position: relative;
    min-width: 130px;
    height: 180px;
    /* border: 1px solid #fff; */
    border-radius: 8px;
    margin-right: 10px;
    background: #000;
    transition: .3s linear;
}

section .cards .card .poster {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: relative;
}

section .cards .card:hover {
    min-width: 300px;
    overflow: hidden;

}

section .cards .card .rest_card {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    left: 0;
    top: 0;
    z-index: 999999;
    opacity: 0;
    transition: 1s linear;
}

section .cards .card .rest_card img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    z-index: -1;
}


section .cards .card .rest_card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, #000);
    left: 0;
    bottom: 0;
    z-index: -1;
}

section .cards .card .rest_card .cont {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
    color: #fff;
    padding: 0px 20px;
}


.sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub p {
    font-size: 12px;
    font-weight: 400;
    color: rgb(255, 255, 255, .7);
}

.sub h3 {
    font-size: 12px;
    color: #fff601;
    display: flex;
    align-items: center;
}

.sub h3 span {
    background: yellow;
    color: #000;
    padding: 0px 3px;
    margin: 0px 5px 0px 5px;
    font-weight: 500;
    border-radius: 2px;
}

.sub h3 i {
    margin-right: 3px;
}

section .cards .card:hover .rest_card {
    opacity: 1;
}

section .bi-chevron-left,
.bi-chevron-right {
    position: absolute;
    top: 50%;
    left: 3%;
    width: 25px;
    height: 25px;
    background: rgb(146 136 250 / 60%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    cursor: pointer;
    transition: .3s linear;
    z-index: 999999;
    opacity: 0;
}

section .bi-chevron-right {
    left: unset;
    right: 3%;
}

section:hover .bi-chevron-right {
    opacity: 1;
}

section:hover .bi-chevron-left {
    opacity: 1;
}

/* responsivité */
@media screen and (max-width : 1250px) {
    header video {
        position: absolute;
        width: 200%;
        height: 180%;

    }
}

@media screen and (max-width : 788px) {
    header {
        position: relative;
        width: 100%;
        height: 100%;
    }

    header nav {
        padding: 0px 10px;
        height: 15%;
    }

    header nav .logo_ul ul {
        position: absolute;
        top: 0px;
        left: 41px;
    }

    header nav .logo_ul ul li {
        padding: 3px 5px;
    }

    header nav .logo_ul ul li a {
        font-size: 10px;
    }

    header .content {
        padding-left: 10px;
    }

    header section {
        padding: 0px 10px;

    }
}


/* formulaire */
header section #inscription-form {
    /* position: absolute; */
    width: 100%;
    height: auto;
    padding: 0px 50px;
    bottom: 20px;
    color: #fff;

}

#inscription-form {
    max-width: 400px;
    margin: 5% auto;
    background-color: #121829;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

#inscription-form h2 {
    text-align: center;
    color: #fff;
    font-size: 40px;
}

#inscription-form form {
    display: flex;
    flex-direction: column;
}

#inscription-form label {
    margin-bottom: 8px;
    color: #fff;
}

#inscription-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #475069;
    background-color: #0000003c;
    opacity: 2;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;

}

#inscription-form button {
    background-color: #7B6EF6;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#inscription-form button:hover {
    background-color: #9388f7;
}

/* page pour ajouter les films */
#element_movie {
    display: flex;
    /* Utiliser un conteneur flex pour aligner les divs enfants */
    overflow: auto;
    align-items: center;
    /* background-color: #475069; */
    background-blend-mode: multiply;
    padding: 20px;
}

#element_movie div {
    flex: 1;
    /* Chaque div enfant prendra une part égale de l'espace disponible */
    margin: 0 10px;
    /* Ajuster l'espacement horizontal entre les divs */
    /* met l'image au milieu de la div */
    display: flex;
    overflow: auto
}

#element_movie_detail {

    display: flex;
    /* align-items: center; */
    background-blend-mode: multiply;
    padding: 20px;
}

#element_movie_detail div {
    text-align: left;
    flex: 1;
    margin: 0 10px;
    /* display: flex; */
    overflow: auto
}

#titre_movie {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;

    text-align: center;
}

.grille {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 5px;
    margin: 3% auto;
    /* max-width: 1000px; */
    /* width: 50%; */
    height: auto;
    justify-content: center;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.104);

    border-radius: 15px;
    padding: 15px;
    margin: 5px;

    a {
        text-decoration: none;
    }
}

/* aggrandi l'item au survole */
.grid-item:hover {
    transform: scale(1.06);
    transition: .3s linear;
}

.grille img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s linear;
}

.block {
    padding: 10px;
    padding-top: 7rem;
}

#titre_film {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;

    /* text-align: center; */
}



/* page pour consulter un film */

.myimage {
    border-radius: 24px;
}

.details-page .overlap {
    position: absolute;
    width: 1200px;
    height: 552px;
    top: 120px;
    left: 120px;
}

.details-page .img {
    position: relative;
    width: 1200px;
    height: 480px;
    top: 0rem;
    left: 15%;
    /* object-fit: cover; */
    border-bottom: 1px solid var(--primaryColor);
    background-position: left calc((50vw - 170px) - 340px) top;
    background-size: cover;
    background-repeat: no-repeat;
}

.details-page .frame {
    display: flex;
    flex-direction: column;
    width: 700px;
    align-items: flex-start;
    gap: 8px;
    padding: 40px;
    position: relative;
    top: -5rem;
    left: 20%;
    background-color: #20283ecc;
    border-radius: 24px;
    backdrop-filter: blur(24px) brightness(100%);
    -webkit-backdrop-filter: blur(24px) brightness(100%);
}

.details-page .div {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.details-page .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--primary-200);
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.details_movie {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0rem;
    margin-top: 0rem;
    text-align: center;
    top: 100%;
}


.image_poster_film {
    padding-left: 50%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s linear;
}

table {
    border-collapse: collapse;
    width: 50%;
    color: #ffffff;
    font-size: 15px;
    text-align: left;
}

.tableau {
    background-color: #080525;
    font-size: 15px;
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 80%;
    text-align: -webkit-center;
    margin: auto;
    border-radius: 10px;
}
.tableau th {
    font-family: monospace;
}

.tableau_ligne {
    color: #ffffff;
    text-align: left;
    top: 15px;
}


/* Style de la ligne du tableau (remarque : ne pas utiliser une div directement à l'intérieur de tr, ce n'est pas valide HTML) */
tr {
    /* border-bottom: 1px solid #ddd; */
    background-color: #080525;
}
/* pop up en dessous du tableau */
.container-fluid.mt--7 {
    padding-top: 2rem;
}

/* Style des cellules du tableau */
td {
    padding: 8px;
}

/* Style des en-têtes de colonne */
th {

    padding: 10px;
    text-align: left;
}

/* ----- Bannire d'alerte ----- */
.alert {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    display: none;
    background-color: rgba(0, 0, 0, 0.7); /* Couleur de fond transparente */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre légère */
    font-weight: bold;
}
.alert-success {
    background-color: rgba(104, 255, 104, 0.27); /* Vert transparent */
}
.alert-error {
    background-color: rgba(255, 29, 29, 0.248); /* Rouge transparent */
}
.icon {
    margin-right: 10px;
}

/* Add movie button */

.custom-button {
    background-color: #9289f6;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.custom-button:hover {
    background-color: #7d76d1;
}

/* my movie, recherche */

.search-bar {
    text-align: center;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #9289f6;
}

.filter-options {
    text-align: center;
    margin-top: 20px;
}

.filter-options label span {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    border: 1px solid #9289f6;
    border-radius: 5px;
    cursor: pointer;
}

.filter-options input[type="checkbox"] {
    display: none;
}

.filter-options input[type="checkbox"]:checked + span {
    background-color: #9289f6;
}

/* ----- Movie detail Genre ----- */
.genre-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.75rem;
}

.genre-container span {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #9289f6;
    border-radius: 20px;
    color: #9289f6;
    cursor: pointer;
}

.genre-container span:last-child {
    margin-right: 0;
}


.badge-success {
    color: #fff;
    background-color: #28a745;
}

.badge-warning {
    color: #212529;
    background-color: #ffc107;
}

.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}
.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.monbouton {
    background-color: red;
    border-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    float: right;
}
.monbouton:hover {
    color: #fff;
    border-color: #ff5656;
    background-color: #ff5656;
}