{% extends 'layouts/app.html' %}

{% block search_bar %}


<div class="btns">
  <a href="{{ url_for('page.show_dashboard') }}" id="play">Dashboard <i class="bi bi-play-fill"></i></a>
</div>
{% endblock %}

{% block content %}
    <br><br>
    <h1 id="titre_movie">All Users</h1>
 
      
     
    <!-- <section class="Dashboard_table" id="inscription-form"> -->

    <div class="tableau">
        <table>
            <tr> 
                <th>Nom  </th>
                <th> Prenom </th>
                <th>  Pseudo</th>
                <th>  Email</th>
                <th>  is Active </th>
                <th>  Role </th>
              
            </tr> 
            {% for user in data.json.data.users %}
            
            <div class="tableau_ligne"></div>
            <tr>
                <td> {{user.nom}}</td>
                <td> {{user.prenom}}</td> 
                <td>  {{user.pseudo}}</td>
                <td>  {{user.email}}</td>
                <td> 
                    {% if user.is_active %}
                        <span class="status-circle status-circle-green"></span>
                    {% else %}
                        <span class="status-circle status-circle-red"></span>
                    {% endif %}
                    <style>
                        .status-circle {
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                        }

                        .status-circle-green {
                            background-color: green;
                        }

                        .status-circle-red {
                            background-color: red;
                        }
                    </style>
                </td>
                <td> 
                    {% if user.role == "admin" %}
                        <span class="badge badge-success">Admin</span>
                    {% else %}
                        <span class="badge badge-warning">User</span>
                    {% endif %}
                </td>

                <td>
                    <form method="POST" action="{{ url_for('user.get_user', user_id=user.id) }}">
                    <input type="hidden" name="_method" value="GET">
                    <!-- <button type="submit" class="mylink">Show</button> -->
                    <button type="button" class="show-user-button mylink" data-user-id="{{ user.id }}">Show</button>
                </form>
            </td>
                
                <td>
                <form method="POST" action="{{ url_for('user.deactivate_user', user_id=user.id) }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="mylink2">Deactivate</button>
                </form>
                </td>

                <td>
                    <form method="POST" action="{{ url_for('user.delete_user', user_id=user.id) }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="mylink3">Delete</button>
                    </form>
                </td>
            </tr> 
           </div>
             {% endfor %}
        </table>
    </div>
    <!-- </section> -->
    
    <div id="user-details-popup" style="display: none;">
        {% include 'show_user.html' %}
    </div>

    <script>
        // Sélectionnez tous les boutons "Show"
        var showButtons = document.querySelectorAll('.show-user-button');
        var userDetailsPopup = document.getElementById('user-details-popup');
        var isDetailsPopupVisible = false; // Variable pour suivre l'état de la div des détails de l'utilisateur
      
        // Ajoutez un écouteur d'événements à chaque bouton "Show"
        showButtons.forEach(function(button) {
          button.addEventListener('click', function() {
            var userId = this.getAttribute('data-user-id'); // Récupérez l'ID de l'utilisateur
      
            // Si la div des détails de l'utilisateur est déjà affichée, masquez-la
            if (isDetailsPopupVisible) {
              userDetailsPopup.style.display = 'none';
              isDetailsPopupVisible = false;
            } else {
              // Faites une requête fetch pour obtenir le contenu de show_user_page
              fetch('/show_user_page/' + userId)
                .then(response => response.text())
                .then(html => {
                  // Insérez le contenu HTML dans la div de détails de l'utilisateur
                  userDetailsPopup.innerHTML = html;
                  // Affichez la div de détails de l'utilisateur
                  userDetailsPopup.style.display = 'block';
                  isDetailsPopupVisible = true;
                });
            }
          });
        });
      </script>
      

   
{% endblock %}