{% extends 'layouts/app.html' %}

{% block search_bar %}
<input type="text" placeholder="Search..." id="search_input">
{% endblock %}

{% block content %}

        <div class="content">
            <h1 id="title">Money Heist</h1>
            <p> tandis qu'un génie du crime manipule la police pour mettre son plan à exécution.</p>
            <div class="details">
                <h6>Netflix original film</h6>
                <h5 id="gen">Thriller</h5>
                <h4>2024</h4>
                <h3 id="rate"><span>IMDB</span><i class="bi bi-star-fill"></i> 9,6</h3>
            </div>
            <div class="btns">
                <a href="#" id="play">Watch <i class="bi bi-play-fill"></i></a>
                <a href="#" id="download_main">Download <i class="bi bi-cloud-arrow-down-fill"></i></a>
            </div>
        </div>

        <p>{{ message }}</p>
        
        <!-- Card pour les films -->
        <section>
            <h4>Popular</h4>
            <!-- <i class="bi bi-chevron-left"></i>
            <i class="bi bi-chevron-right"></i> -->
           
               <div class="grille">
                <!-- fait une boucle for de 1 a 5 -->
                {% for movie in movies %}

                <div class="grid-item">
                    <a href="#">
                        <img src="https://image.tmdb.org/t/p/w342/{{ movie.poster_path }}" alt="{{ movie.title }} ">
                        <div class="cont"> 
                            <h4 id="titre_film">
                                {{ movie.title }}
                            </h4>
                            <div class="sub">
                            <h3>Money Heist</h3>
                            <p>Action , {{ movie.release_date }}, <span>IMDB  </span><i class="bi bi-star-fill"></i> {{ movie.vote_average }}</p></div>
                        </div>
                    </a>
                </div>
                    
                    {% endfor %}
                
               </div>
               


               
        </section>
   
{% endblock %}