{% extends 'layouts/app.html' %}

{% block content %}
<h1 id="titre_movie">All Videos in My VideoTech</h1>

<form action="{{ url_for('movie.search_movie') }}" method="POST">
  <!-- Barre de recherche -->
  <div class="search-bar">
    <input type="text" name="query" placeholder="Search...">
  </div>

  <!-- Cases à cocher pour filtrer -->
  <div class="filter-options">
    <label><input type="checkbox" name="filters[]" value="title"><span>Title</span></label>
    <label><input type="checkbox" name="filters[]" value="overview"><span>Overview</span></label>
    <label><input type="checkbox" name="filters[]" value="release_date"><span>Release Date</span></label>
    <label><input type="checkbox" name="filters[]" value="genres"><span>Genres</span></label>
    <label><input type="checkbox" name="filters[]" value="poster_path"><span>Poster Path</span></label>
    <label><input type="checkbox" name="filters[]" value="countries"><span>Countries</span></label>
    <label><input type="checkbox" name="filters[]" value="vote_average"><span>Vote Average</span></label>
    <label><input type="checkbox" name="filters[]" value="vote_count"><span>Vote Count</span></label>
  </div>

  <input type="submit" value="Search" hidden>
</form>




<!-- Card pour les films -->
<section>
    <h1>My movie</h1>
    <i class="bi bi-chevron-left"></i>
    <i class="bi bi-chevron-right"></i>
    <div class="cards">
    
      {% for movie in datas.json.data.movies %}
      {% if not movie.private or (movie.private and movie.user_id == current_user_id) %}
          <div class="card" id="card" data-id="{{ movie.id }}">
            <img src="{{ movie.poster_path }}" alt="" class="poster">
            <div class="rest_card">
              <div class="cont">
                <h4>{{ movie.title }}</h4>
                <div class="sub">
                  <p>{{ movie.genres }}, {{ movie.release_date }}</p>
                  <h3><span>Note : </span><i class="bi bi-star-fill"></i> {{ movie.vote_average }}</h3>
                </div>
              </div>
            </div>
          </div>
      {% endif %}
  {% endfor %}

    </div>
</section>





<!-- Pop-up pour afficher les détails du film -->
<div id="showMoviePopup" class="popup">
  <div class="popup-content">
    <span class="close" onclick="closePopup('showMoviePopup')">&times;</span>
    <!-- Contenu du film à afficher -->
    <div id="showMovieContent"></div>
  </div>
</div>

<!-- Pop-up pour mettre à jour le film -->
<div id="updateMoviePopup" class="popup">
  <div class="popup-content">
    <span class="close" onclick="closePopup('updateMoviePopup')">&times;</span>
    <!-- Contenu du formulaire de mise à jour du film -->
    <div id="updateMovieContent"></div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var cards = document.querySelectorAll('.card');
    cards.forEach(function(card) {
      card.addEventListener('click', function() {
        var movieId = this.getAttribute('data-id');
        showMovieDetails(movieId);
      });
    });

    // Ajouter un écouteur d'événements pour les clics sur le fond de la page
    document.addEventListener('click', function(event) {
      var isClickInsideShowMoviePopup = document.getElementById('showMoviePopup').contains(event.target);
      var isClickInsideUpdateMoviePopup = document.getElementById('updateMoviePopup').contains(event.target);
      if (!isClickInsideShowMoviePopup && !isClickInsideUpdateMoviePopup) {
        closeAllPopups();
      }
    });
  });

  function showMovieDetails(movieId) {
    closeAllPopups();

    fetch('/show_movie/' + movieId)
      .then(response => response.text())
      .then(html => {
        var popupContent = document.getElementById('showMovieContent');
        popupContent.innerHTML = html;
        openPopup('showMoviePopup');
      });
  }

  function openUpdatePopup(movieId) {
    closePopup('showMoviePopup');
    fetch('/edit_page/' + movieId)
      .then(response => response.text())
      .then(html => {
        var popupContent = document.getElementById('updateMovieContent');
        popupContent.innerHTML = html;
        openPopup('updateMoviePopup');
      });
  }

  function openPopup(popupId) {
    var popup = document.getElementById(popupId);
    popup.style.display = 'block';
  }

  function closePopup(popupId) {
    var popup = document.getElementById(popupId);
    popup.style.display = 'none';
  }

  function closeAllPopups() {
    closePopup('showMoviePopup');
    closePopup('updateMoviePopup');
  }
</script>



</html>
{% endblock %}