{% extends 'layouts/app.html' %}

{% block search_bar %}

<!-- verifie si le role est admin -->

{% if data.json.data.user.role == 'admin' %}
<div class="btns">
  <a href="{{ url_for('page.show_dashboard') }}" id="play">Dashboard <i class="bi bi-play-fill"></i></a>
</div>
{% endif %}
{% endblock %}

{% block content %}
<body>
    <br><br><br><br>
    <h1 id="titre_movie">Profil Utilisateur</h1>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/profil.css')}}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <div class="main-content">
    
    
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">


        
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                
              </div>
            </div>
            
            <div id="mycard" class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div  class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">10</span>
                      <span class="description">movies</span>
                    </div>
                    <div>
                      <span class="heading">89</span>
                      <span class="description">Comments</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                  {{data.json.data.user.nom}} {{data.json.data.user.prenom}}<span class="font-weight-light">, {{data.json.data.user.age}}</span>
                </h3>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>{{data.json.data.user.email}}
                </div>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>University of Computer Science
                </div>
                
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">My account</h3>
                </div>
                
              </div>
            </div>
            <div class="card-body">
              <form action="{{ url_for('user.edit_user' , user_id=data.json.data.user.id) }}" method="post">
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-username">Username</label>
                        <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" value="{{data.json.data.user.pseudo}}" name="pseudo">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email address</label>
                        <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="Email" value="{{data.json.data.user.email}}" name="email">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">First name</label>
                        <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="First name" value="{{data.json.data.user.prenom}}" name="prenom">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-last-name">Last name</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name" value="{{data.json.data.user.nom}}" name="nom">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-age">age</label>
                        <input type="number" min="13" max="100" id="input-age" class="form-control form-control-alternative" placeholder="age" value="{{data.json.data.user.age}}" name="age">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                
                <button class="btn btn-icon btn-3 btn-primary" type="submit">
                  <span class="btn-inner--icon"><i class="ni ni-bag-17"></i></span>
                  <span class="btn-inner--text">Upload</span>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>

</html>
{% endblock %}