
<br><br><br><br>
<h1 id="titre_movie">Update movie</h1>
<link rel="stylesheet" href="{{url_for('static', filename = 'css/profil.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<div class="main-content">


<!-- Page content -->
<div class="container-fluid mt--7">
  


    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
          <h3 class="mb-0">{{ data.json.data.movie.title if data }}</h3>
            </div>





            
          </div>
        </div>
        <div class="card-body">
           <form action="{{ url_for('movie.delete_movie' , movie_id=data.json.data.movie.id) if data}}" method="post">
          
            <button class="btn btn-icon btn-3 btn-primary monbouton" type="submit">
              <span class="btn-inner--icon"><i class="ni ni-bag-17"></i></span>
              <span class="btn-inner--icon"><i class="bi bi-trash"></i></span>
              <span class="btn-inner--text">Delete</span>
            </button>
           
          </form>          
          
          <form action="{{ url_for('movie.edit_movie' , movie_id=data.json.data.movie.id) if data}}" method="post">
           
           
            <h6 class="heading-small text-muted mb-4">Movie information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-title">Title</label>
                    <input type="text"  class="form-control form-control-alternative"  value="{{data.json.data.movie.title if data}}" name="title">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-release_date">Release date</label>
                    <input type="date"  class="form-control form-control-alternative"  value="{{data.json.data.movie.release_date if data}}" name="release_date">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-genre">genre</label>
                    <input type="text"  class="form-control form-control-alternative"  value="{{data.json.data.movie.genres if data}}" name="genres">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-last-name">poster url</label>
                    <input type="text"  class="form-control form-control-alternative"  value="{{data.json.data.movie.poster_path if data}}" name="poster_path">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-production-countrie">Production countrie</label>
                    <input type="text"  class="form-control form-control-alternative"  value="{{data.json.data.movie.countries if data}}" name="countries">
                  </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-production-overview">Overview</label>
                      <input type="text" class="form-control form-control-alternative"  value="{{data.json.data.movie.overview if data}}" name="overview">
                    </div>
                  </div>
                
              </div>
              <div class="row">
                <div class="col-lg-6"><label class="form-control-label" >Private</label>
                    <!-- fait moi un champ select avec sois private sois public -->
                    <select class="form-control form-control-alternative" name="priv">
                      <option value="True">Private</option>
                      <option value="False">Public</option>
                    </select>
                </div>
              </div>
              
            </div>
            <hr class="my-4">
            
            <button class="btn btn-icon btn-3 btn-primary" type="submit">
              <span class="btn-inner--icon"><i class="ni ni-bag-17"></i></span>
              <span class="btn-inner--text">Update</span>
            </button>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>